<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="gestion_immo/static/receipt.css">
    <title>Quittance de Loyer</title>

</head>
<body>
    <header class="container">
        <div class="header">
                <h1 class="title">Quittance de loyer</h1>
        </div>
    </header>

    <main class="container">
        <div>
            <p>{{ contract.agency.name }}<br/>
            {{ contract.agency.city }}</p>

            <p class="recipient">{{ contract.occupant.first_name }} {{ contract.occupant.last_name }}<br/>
            {{ contract.apartment.address }} {{ contract.apartment.address_complement }}<br/>
            {{ contract.apartment.postal_code }} {{ contract.apartment.city }}</p>
            
            <p class="recipient">À {{ contract.agency.city }}, le {% now "d-m-Y" %}</p>

            <hr class='hrItem' />

            <p class="emphasized">Période : du {{ start_date }} au {{ end_date }}</p>

            {% if is_payment_complete %}

            <div class="details">
                <table>
                    <thead>
                        <tr class="tr">
                            <td>Date de Paiement</td>
                            <td>Montant Loyer</td>
                            <td>Montant Charges</td> 
                            <td>Total</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for payment in contract_payments %}
                            <tr class="tr">
                                <td>{{payment.date|date:'d-m-Y'}}</td>
                                <td>{{payment.rental}} €</td>
                                <td>{{payment.charges}} €</td>
                                <td>{{payment.total}} €</td>
                            </tr>
                        {% endfor %}
                                
                    </tbody>
                </table>
            </div>
        </main>

        <footer>
            <div>
                <p class="footer">
                    Cette quittance annule tous les reçus qui auraient pu être établis précédemment en cas de paiement partiel du montant du présent terme. Elle est à conserver pendant trois ans par le locataire (loi n° 89-462 du 6 juillet 1989 : art. 7-1).
                </p>
            </div>
        </footer>

            {% else %}

            {% endif %} 

            </div>
        </div>
    
</body>

</html>