{% extends 'apartment_management/base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-light">
      <li class="breadcrumb-item active" aria-current="page">Vous êtes sur : Liste d'États des lieux</li>
    </ol>
</nav>

<table class="table table-borderless">
<thead class="border-bottom font-weight-bold">
    <tr class="">
        <td>Contrat</td>
        <td>Date</td>
        <td>Type</td>
        <td>Commentaires</td>
        <td>
            <a href="{% url 'itemslist_insert' %}" class="btn btn-outline-success">
                <i class="fas fa-plus"></i> Ajouter un état des lieux
            </a>
        </td>
    </tr>
</thead>
    <tbody>
        {% for itemslist in itemslist_list %}
            <tr>
                <td>{{itemslist.contract}}</td>
                <td>{{itemslist.date|date:'d-m-Y'}}</td>
                <td>{{itemslist.list_type}}</td>
                <td>{{itemslist.comments}}</td>
                <td>
                    <a href="{% url 'itemslist_update' itemslist.id %}" class="btn text-secondary px-20">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'itemslist_delete' itemslist.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Êtes-vous sûr.e de vouloir supprimer cet état des lieux ?')" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button> 
                    </form>
                </td>
            </tr>
        {% endfor  %}
    </tbody>

</table>

{% endblock content %}