{% extends 'apartment_management/base.html' %}
{% load crispy_forms_tags %} 

{% block content %}
<div class="mb-5"> <a href="{% url 'receipt_form' %}" class="btn btn-link">
    <i class="fa fa-chevron-circle-left"></i> Retour vers quittance
    </a>
</div>

<div class="container alert alert-danger" role="alert">
    <p>Impossible de générer la quittance en format PDF car tous les paiements ne sont pas en règle sur la période donnée.</p>
    <p>Vous pouvez contacter le locataire {{ contract.occupant.first_name }} {{ contract.occupant.last_name }} par e-mail à: <a href="mailto:{{ contract.occupant.email }}">{{ contract.occupant.email }}</a> pour régulariser la situation du contrat de l'appartement : {{ contract.apartment.address }} {{ contract.apartment.address_complement }}, {{ contract.apartment.postal_code }} {{ contract.apartment.city }}.</p>
</div>

{% endblock %}