{% extends 'apartment_management/base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-light">
      <li class="breadcrumb-item active" aria-current="page">Vous êtes sur : Locataires</li>
    </ol>
</nav>

<table class="table table-borderless">
<thead class="border-bottom font-weight-bold">
    <tr class="">
        <td>Nom</td>
        <td>Prénom</td>
        <td>E-mail</td>
        <td>
            <a href="{% url 'occupant_insert' %}" class="btn btn-outline-success">
                <i class="fas fa-plus"></i> Ajouter un locataire
            </a>
        </td>
    </tr>
</thead>
    <tbody>
        {% for occupant in occupant_list %}
            <tr>
                <td>{{occupant.last_name}}</td>
                <td>{{occupant.first_name}}</td>
                <td>{{occupant.email}}</td>
                <td>
                    <a href="{% url 'occupant_update' occupant.id %}" class="btn text-secondary px-20">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'occupant_delete' occupant.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Êtes-vous sûr.e de vouloir supprimer ce locataire ?')" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button> 
                    </form>
                </td>
            </tr>
        {% endfor  %}
    </tbody>

</table>

{% endblock content %}