{% extends 'apartment_management/base.html' %}
{% load crispy_forms_tags %} 

{% block title %}Modifier les données agence{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h2>Modifier l'information du profil agence</h2>

<p>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {{form.username|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.email|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.last_name|as_crispy_field}}
            </div>
            <div class="col-md-6">
                {{form.first_name|as_crispy_field}}
            </div>
            <div>
                {{form.city|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md d-grid gap-2">
                <button type="submit" class="btn btn-success btn-lg"><i class="fa-solid fa-floppy-disk"></i> </i>Enregistrer</button>
            </div>
        </div>
    </form>
</p>

{% else %}
    <p>Bonjour, nouvel utilisateur. Pour accéder à cet espace, merci de <a href="{% url 'login' %}">vous connecter</a></p>
{% endif %}

{% endblock content %}