{% extends 'apartment_management/base.html' %}
{% load crispy_forms_tags %} 

{% block title %}Créer un compte{% endblock %}

{% block content %}

<h2>Créer mon compte utilisateur agence</h2>

<p>
    <form action="" method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-4">
                {{form.first_name|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.last_name|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.username|as_crispy_field}}
            </div>
            <div>
                {{form.city|as_crispy_field}}
            </div>
            <div class="col-md-8">
                {{form.password1|as_crispy_field}}
            </div>
            <div class="col-md-4">
                {{form.password2|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col-md d-grid gap-2">
                <button type="submit" class="btn btn-success btn-lg"><i class="fa-solid fa-floppy-disk"></i> </i>Enregistrer</button>
            </div>
        </div>
    </form>
</p>

{% endblock content %}