{% extends 'apartment_management/base.html' %}

{% block content %}

{% if user.is_authenticated %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-light">
      <li class="breadcrumb-item active" aria-current="page">Vous êtes sur : Liste d'Agences</li>
    </ol>
</nav>
{% if not user.is_superuser %}
<div class="alert alert-primary" role="alert">
    Pour supprimer votre utilisateur, merci de contacter infeco@infeco.com ou vous connecter en tant que Superuser
</div>
{% endif %}
<table class="table table-borderless">
<thead class="border-bottom font-weight-bold">
    <tr class="">
        <td>Nom</td>
        <td>Ville</td>
        <td>Nom d'utilisateur</td>
    </tr>
</thead>
    <tbody>
        {% for agency in agency_list %}
            <tr>
                <td>{{agency.name}}</td>
                <td>{{agency.city}}</td>
                <td>{{agency.username}}</td>
                <td>
                    <a href="{% url 'commission_list' agency.id %}" class="btn text-secondary px=10">
                        <i class="fa fa-percent fa-lg"></i>
                    </a>
                    
                    <a href="{% url 'agency_update' agency.id %}" class="btn text-secondary px-20">
                        <i class="far fa-edit fa-lg"></i>
                    </a>

                    <a href="{% url 'password_change' %}" class="btn text-secondary px-20">
                        <i class="fa fa-key fa-lg"></i>
                    </a>

                    {% if user.is_superuser %}

                    <form action="{% url 'agency_delete' agency.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Êtes-vous sûr.e de vouloir supprimer cet utilisateur ?')" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button> 
                    </form>

                    {% endif %}
                </td>
            </tr>
        {% endfor  %}
    </tbody>

</table>

{% else %}
    <p>Bonjour, nouvel utilisateur. Pour accéder à cet espace, merci de <a href="{% url 'login' %}">vous connecter</a></p>
{% endif %}

{% endblock content %}