{% extends 'apartment_management/base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-light">
      <li class="breadcrumb-item active" aria-current="page">Vous êtes sur : Liste d'Agences</li>
    </ol>
</nav>

<table class="table table-borderless">
<thead class="border-bottom font-weight-bold">
    <tr class="">
        <td>Nom</td>
        <td>Ville</td>
        <td>Nom d'utilisateur</td>
    </tr>
</thead>
    <tbody>
        {% for agency in agency_list %}
            <tr>
                <td>{{agency.name}}</td>
                <td>{{agency.city}}</td>
                <td>{{agency.username}}</td>
                <td>
                    <a href="{% url 'commission_list' agency.id %}" class="btn text-secondary px=10">
                        <i class="fa fa-percent fa-lg"></i>
                    </a>
                </td>
            </tr>
        {% endfor  %}
    </tbody>

</table>

{% endblock content %}