{% extends 'apartment_management/base.html' %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-light">
      <li class="breadcrumb-item active" aria-current="page">Vous êtes sur : Liste de Paiements</li>
    </ol>
</nav>

<table class="table table-borderless">
<thead class="border-bottom font-weight-bold">
    <tr class="">
        <td>Contrat</td>
        <td>Date</td>
        <td>Source</td>
        <td>Loyer</td>
        <td>Charges</td>
        <td>
            <a href="{% url 'payment_insert' %}" class="btn btn-outline-success">
                <i class="fas fa-plus"></i> Ajouter un paiement
            </a>
        </td>
    </tr>
</thead>
    <tbody>
        {% for payment in payment_list %}
            <tr>
                <td>{{payment.contract}}</td>
                <td>{{payment.date|date:'d-m-Y'}}</td>
                <td>{{payment.source}}</td>
                <td>{{payment.rental}}</td>
                <td>{{payment.charges}}</td>
                <td>
                    <a href="{% url 'payment_update' payment.id %}" class="btn text-secondary px-10">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'payment_delete' payment.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Êtes-vous sûr.e de vouloir supprimer ce paiement ?')" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button> 
                    </form>
                </td>
            </tr>
        {% endfor  %}
    </tbody>

</table>

{% endblock content %}