{% extends 'apartment_management/base.html' %}

{% block content %}

<table class="table table-borderless">
<thead class="border-bottom font-weight-bold">
    <tr class="">
        <td>Contrat</td>
        <td>Date</td>
        <td>Type</td>
        <td>Source</td>
        <td>Montant</td>
    </tr>
</thead>
    <tbody>
        {% for payment in payment_list %}
            <tr>
                <td>{{payment.contract}}</td>
                <td>{{payment.date}}</td>
                <td>{{payment.payment_type}}</td>
                <td>{{payment.payment_source}}</td>
                <td>{{payment.price}}</td>
            </tr>
        {% endfor  %}

        <div class="text-center alert alert-primary" role="alert">SOLDE DES LOYERS : {{ total_amount }} €</div>
        <div> <a href="{% url 'contract_list' %}" class="btn btn-link">
            <i class="fa fa-chevron-circle-left"></i> Retour à la liste
        </a></div>
    </tbody>

</table>

{% endblock content %}