{% extends 'apartment_management/base.html' %}

{% block title %}Mot de passe changé{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>Mot de passe changé avec succès</h1>
<p>Votre mot de passe a correctement été changé.</p>

<div> <a href="{% url 'agency_list' %}" class="btn btn-link">
    <i class="fa fa-chevron-circle-left"></i> Retour à la liste
</a></div>

{% else %}
    <p>Bonjour, nouvel utilisateur. Pour accéder à cet espace, merci de <a href="{% url 'login' %}">vous connecter</a></p>
{% endif %}

{% endblock %}