{% extends 'apartment_management/base.html' %}

{% block content %}

<h1>Vérifiez votre boîte email.</h1>

<p>Nous vous avons envoyé par e-mail les instructions pour redéfinir votre mot de passe.</p>
<p>Si vous ne recevez pas d'e-mail, assurez-vous d'avoir saisi l'adresse avec laquelle vous vous êtes inscrit.
<br/>Vérifiez également votre dossier spam.</p>

<div> 
    <a href="{% url 'login' %}" class="btn btn-link">
        <i class="fa fa-chevron-circle-left"></i> Retour
    </a>
</div>

{% endblock %}