{% extends 'apartment_management/base.html' %}

{% block title %}Entrez un nouveau mot de passe{% endblock %}

{% block content %}

{% if validlink %}

<h1>Définir un nouveau mot de passe</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Changer le mot de passe">
</form>

{% else %}

<p>Le lien de réinitialisation du mot de passe n'était pas valide, peut-être parce qu'il a déjà été utilisé. 
    Veuillez demander une nouvelle réinitialisation du mot de passe.</p>

{% endif %}
{% endblock %}