{% extends 'apartment_management/base.html' %}

{% block content %}

<h1>Mot de passe oublié ?</h1>

<p>Entrez votre adresse e-mail ci-dessous et nous vous enverrons par e-mail des instructions pour en définir un nouveau.</p>

<form action="" method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Envoyez-moi l'email">
</form>
<br />
<div> 
    <a href="{% url 'login' %}" class="btn btn-link">
        <i class="fa fa-chevron-circle-left"></i> Retour
    </a>
</div>

{% endblock %}