{% extends 'apartment_management/base.html' %}

{% block content %}

<table class="table table-borderless">
<thead class="border-bottom font-weight-bold">
    <tr class="">
        <td>Nom</td>
        <td>Ville</td>
        <td>
            <a href="{% url 'agency_insert' %}" class="btn btn-outline-success">
                <i class="fas fa-plus"></i> Ajouter une agence
            </a>
        </td>
    </tr>
</thead>
    <tbody>
        {% for agency in agency_list %}
            <tr>
                <td>{{agency.name}}</td>
                <td>{{agency.city}}</td>
                <td>
                    <a href="{% url 'commission_list' agency.id %}" class="btn text-secondary px=10">
                        <i class="fa fa-eur fa-lg"></i>
                    </a>
                    <a href="{% url 'agency_update' agency.id %}" class="btn text-secondary px-20">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'agency_delete' agency.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button> 
                    </form>
                </td>
            </tr>
        {% endfor  %}
    </tbody>

</table>

{% endblock content %}