{% extends 'apartment_management/base.html' %}

{% block content %}

{% if user.is_authenticated %}
    <p><i>Bonjour, {{ user.username }}.</i></p>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb p-3 bg-light">
      <li class="breadcrumb-item active" aria-current="page">Vous êtes sur : Accueil / Liste de Contrats</li>
    </ol>
</nav>

<table class="table table-borderless">
<thead class="border-bottom font-weight-bold">
    <tr class="">
        <td>Appartement</td>
        <td>Locataire</td>
        <td>Date de début</td>
        <td>Date de fin</td>
        <td>
            <a href="{% url 'contract_insert' %}" class="btn btn-outline-success">
                <i class="fas fa-plus"></i> Ajouter un contrat
            </a>
        </td>
    </tr>
</thead>
    <tbody>
        {% for contract in contract_list %}
            <tr>
                <td>{{contract.apartment}}</td>
                <td>{{contract.occupant}}</td>
                <td>{{contract.start_date|date:'d-m-Y'}}</td>
                <td>{{contract.end_date|date:'d-m-Y'}}</td>
                <td>
                    <a href="{% url 'rental_list' contract.id %}" class="btn text-secondary px=10">
                        <i class="fa fa-eur fa-lg"></i>
                    </a>
                    <a href="{% url 'contract_update' contract.id %}" class="btn text-secondary">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'contract_delete' contract.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" onclick="return confirm('Êtes-vous sûr.e de vouloir supprimer ce contrat ?')" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button> 
                    </form>
                </td>
            </tr>
        {% endfor  %}
    </tbody>

</table>

{% else %}
    <p>Bonjour, nouvel utilisateur. Pour accéder à cet espace, merci de <a href="{% url 'login' %}">vous connecter</a></p>
{% endif %}

{% endblock content %}